/* Variables */
@import url("variables/_breakpoints.scss");
@import url("variables/_colors.scss");
@import url("variables/_fonts.scss");
@import url("variables/_sizes.scss");

/* Normalize */
@import url("normalize/_normalize.scss");

/* Mixins */
@import url("mixins/_pseudo.mixin.scss");
@import url("mixins/_responsive-ratio.mixin.scss");
@import url("mixins/_font.mixin.scss");
@import url("mixins/_color.mixin.scss");

/* Imports */

/* Scrollbar */
::-webkit-scrollbar {
  width: 1px;
}

/* Global Styles */

/* Utils */
.grow-full {
  height: 100vh;
  width: 100%;
}

.services-main-head{
  text-align: center;
}
.services-main-logo{
  display: block;
  margin: auto;
}
.services-main-div{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.services-div{
  width: 230px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}

.services-card-head{
  border-bottom: 2px solid black;
}
.services-card-list{
  padding: 3px;
}